# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


# npm
.npmrc

# System Files
.DS_Store
Thumbs.db
*.iml
packages/runner-cypress/cypress/screenshots/
packages/docs/docs/03-wordings/01-generated-wording-description/


packages/runner-playwright/src/cucumber/step_definitions/playwright/generated/
packages/runner-playwright/reports/
packages/runner-playwright/tests/.features-gen
packages/docs/i18n/fr/docusaurus-plugin-content-docs/current/03-wordings/01-generated-wording-description/
packages/docs/static/assistant/uuv-assistant-resources.bundle.js
packages/docs/static/assistant/index.html
packages/docs/static/assistant/style.css
tests/integration/runner-cypress/
tests/integration/runner-playwright/
packages/intellij-plugin/.idea/
