.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.feature:hover {
  transform: scale(1.15);
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureTitle {
  color: var(--ifm-color-primary);
}