/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #970000;
    --ifm-color-primary-dark: #880000;
    --ifm-color-primary-darker: #800000;
    --ifm-color-primary-darkest: #6a0000;
    --ifm-color-primary-light: #a60000;
    --ifm-color-primary-lighter: #ae0000;
    --ifm-color-primary-lightest: #c40000;
    --docusaurus-highlighted-code-line-bg: lightgrey;
    --ifm-navbar-background-color: white;
    --ifm-hero-background-color: white;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #f2cc31;
    --ifm-color-primary-dark: #f0c516;
    --ifm-color-primary-darker: #e9be0f;
    --ifm-color-primary-darkest: #c09c0c;
    --ifm-color-primary-light: #f4d34c;
    --ifm-color-primary-lighter: #f5d65a;
    --ifm-color-primary-lightest: #f7e083;
    --ifm-background-color: #1b1b1d;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --ifm-navbar-background-color: black;
    --ifm-hero-background-color: black;
}

[data-theme='light'] {
    /*--ifm-color-secondary: #970000;*/
    /*--ifm-button-background-color: red !important;*/
}


.footer {
    background-color: #000000;
}

.homepage-feature {
    background-color: #f4f4f4;
}

[data-theme='dark'] .homepage-feature {
    background-color: #434244;
    color: white;
}

[data-theme='dark'] .hero__title {
    color: #f0c317;
}

[data-theme='dark'] .hero__logo {
    filter: drop-shadow(0 0 0.2rem white);
}

[data-theme='dark'] .homepage-feature-img {
    filter: drop-shadow(0 0 0.1rem white);
}

[data-theme='dark'] .aa-DetachedSearchButton {
    color: white;
}

[data-theme='dark'] .aa-DetachedSearchButtonIcon {
    color: white;
}



[data-theme='dark'] code {
    background-color: #ffffff1a;
}

