.UuvAssistant {
  margin: 0 auto !important;
  width: 1200px;
  border-radius: 10px 10px 0 0;
  border: white solid 1px;
  border-bottom: none;
  box-shadow: 0px 0px 0px 3px rgba(251,251,254,.5);
}

.IconBtn {
  padding: 3px 8px !important;
}

.vr {
  margin: 0 10px;
  background-color: white !important;
  height: 100%;
}

.GeneratedScript{
  color: white;
}

.GeneratedScriptLabel {
  color: #fac863;
}

.highlight {
  background-color: yellow;
}
